In [11]:
#Dependencies 
import pandas as pd
import numpy as np

In [12]:
# Load JSON file
purchase_data= "purchase_data.json"

In [13]:
# Read with Pandas with json and store file in a dataframe 
purchase_data_df= pd.read_json(purchase_data) 
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [14]:
#Total number of players.

players_df = purchase_data_df.groupby("SN")["SN"].nunique()
players_df.count()

573

In [15]:
# Purchasing Analysis
#Number of unique items.

items_df = purchase_data_df.groupby("Item Name")["Item Name"].nunique()
items_df.count()

179

In [16]:
#Average purchase price.

average_price_df = purchase_data_df["Price"].mean()
round(average_price_df,2)

2.93

In [17]:
#Total number of purchases.

total_purchases_df = len(purchase_data_df)
total_purchases_df

780

In [18]:
# Total Revenue.

total_revenue_df = purchase_data_df["Price"].sum()
total_revenue_df.round(2)

2286.33

In [19]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[items_df],
                                             "Average Purchase Price":[average_price_df],
                                            "Total Number of Purchases":[total_purchases_df],
                                             "Total Revenue":[total_revenue_df]})
purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.931192,Item Name Abyssal Shard ...,780,2286.33

In [20]:
# Gender Count
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count_df.head()

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: SN, dtype: int64

In [21]:
# Gender Percentage
gender_percentage_df = gender_count_df/573
round(gender_percentage_df,2)

Gender
Female                   0.17
Male                     0.81
Other / Non-Disclosed    0.01
Name: SN, dtype: float64

In [22]:
#Gender demographics DataFrame.

gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df})
gender_demographics_df

                       Gender Count  Gender Percentage
Gender
Female                          100           0.174520
Male                            465           0.811518
Other / Non-Disclosed             8           0.013962

In [23]:
#Total number of purchases by gender.


gender_purchases_df = purchase_data_df.groupby("Gender")["Item Name"]
gender_purchases_df.count()

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item Name, dtype: int64

In [24]:
# Average price of items by gender.

gender_average_df = purchase_data_df.groupby("Gender")["Price"].mean()
gender_average_df.round(2)

Gender
Female                   2.82
Male                     2.95
Other / Non-Disclosed    3.25
Name: Price, dtype: float64

In [25]:
#Total Purchase value by gender.

gender_total_df = purchase_data_df.groupby("Gender")["Price"].sum()
gender_total_df

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [26]:
#Normalized gender total.
normalized_gender_total_df = gender_total_df/gender_count_df
normalized_gender_total_df.round(2)

Gender
Female                   3.83
Male                     4.02
Other / Non-Disclosed    4.47
dtype: float64

In [27]:
# Purchasing analysis DataFrame by gender.

gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, 
                                   "Average Purchase Price":gender_average_df,
                                   "Total Purchase Value":gender_total_df,
                                   "Normalized Totals":normalized_gender_total_df})
gender_analysis_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,2.815515,3.829100,"(Female, [Interrogator, Blood Blade of the Que...",382.91
Male,2.950521,4.016516,"(Male, [Bone Crushing Silver Skewer, Stormbrin...",1867.68
Other / Non-Disclosed,3.249091,4.467500,"(Other / Non-Disclosed, [War-Forged Gold Defle...",35.74

In [29]:
#Create bins in which data will be held. Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39 >39.

bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [30]:
# Cut purchase data and place the ages into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_ranges)

0      35-39
1      20-24
2      30-34
3      20-24
4      20-24
5      15-19
6      15-19
7      25-29
8      20-24
9      30-34
10     20-24
11     15-19
12     25-29
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     25-29
19     30-34
20     20-24
21     10-14
22     10-14
23     15-19
24     10-14
25     20-24
26     25-29
27     30-34
28     10-14
29     15-19
       ...
750    20-24
751    25-29
752    10-14
753    15-19
754    30-34
755    20-24
756    20-24
757    30-34
758    15-19
759    15-19
760    25-29
761    25-29
762    35-39
763    25-29
764    20-24
765    10-14
766    20-24
767    15-19
768    20-24
769    20-24
770    20-24
771    20-24
772    10-14
773    20-24
774    20-24
775    20-24
776    10-14
777    15-19
778    15-19
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [31]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [32]:
#Players percentage by age range.

age_group_percentage_df = round(purchase_data_df["Age Range"].value_counts()/780,2)
age_group_percentage_df

20-24    0.39
15-19    0.24
10-14    0.10
25-29    0.10
30-34    0.07
35-39    0.06
<10      0.04
>=40     0.00
Name: Age Range, dtype: float64

In [33]:
# Purchase count by age range.

age_group_count_df = purchase_data_df.groupby("Age Range")["Item Name"]
age_group_count_df.count()

Age Range
<10       32
10-14     78
15-19    184
20-24    305
25-29     76
30-34     58
35-39     44
>=40       3
Name: Item Name, dtype: int64

In [34]:
# Average purchase price by age range.

age_group_average_df = purchase_data_df.groupby("Age Range")["Price"].mean()
age_group_average_df.round(2)

Age Range
<10      3.02
10-14    2.87
15-19    2.87
20-24    2.96
25-29    2.89
30-34    3.07
35-39    2.90
>=40     2.88
Name: Price, dtype: float64

In [35]:
#Total purchase value by age range.

age_group_total_df = purchase_data_df.groupby("Age Range")["Price"].sum()
age_group_total_df

Age Range
<10       96.62
10-14    224.15
15-19    528.74
20-24    902.61
25-29    219.82
30-34    178.26
35-39    127.49
>=40       8.64
Name: Price, dtype: float64

In [37]:
#Normalized totals by age range.

normalized_age_total_df = age_group_total_df/573
round(normalized_age_total_df,2)

Age Range
<10      0.17
10-14    0.39
15-19    0.92
20-24    1.58
25-29    0.38
30-34    0.31
35-39    0.22
>=40     0.02
Name: Price, dtype: float64

In [38]:
# Convert to DataFrame.

age_range_df = pd.DataFrame({"Purchase Count":age_group_count_df,
                            "Average Purchase Price":age_group_average_df,
                            "Total Purchase Value": age_group_total_df,
                            "Normalized Totals": normalized_age_total_df
})
age_range_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Age Range,,,,
<10,3.019375,0.168621,"(<10, [Darkheart, Butcher of the Champion, Woe...",96.62
10-14,2.873718,0.391187,"(10-14, [Phantomlight, Brimstone, Conqueror Ad...",224.15
15-19,2.873587,0.922757,"(15-19, [Sleepwalker, Mercenary Sabre, Alpha, ...",528.74
20-24,2.959377,1.575236,"(20-24, [Stormbringer, Dark Blade of Ending Mi...",902.61
25-29,2.892368,0.383630,"(25-29, [Interrogator, Blood Blade of the Quee...",219.82
30-34,3.073448,0.311099,"(30-34, [Primitive Blade, Expiration, Warscyth...",178.26
35-39,2.897500,0.222496,"(35-39, [Bone Crushing Silver Skewer, Bonecarv...",127.49
>=40,2.880000,0.015079,"(>=40, [Venom Claymore, Suspension, Despair, F...",8.64

In [39]:
#Overall spending analysis

players_purchase_count_df = purchase_data_df.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data_df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#Convert to DataFrame.

total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                   "Average Purchase Price": players_average_price_df,
                                   "Total Purchase Value": players_total_df})
total_user_data_df.head()

              Average Purchase Price  Purchase Count  Total Purchase Value
SN
Adairialis76                2.460000               1                  2.46
Aduephos78                  2.233333               3                  6.70
Aeduera68                   1.933333               3                  5.80
Aela49                      2.460000               1                  2.46
Aela59                      1.270000               1                  1.27

In [40]:
# Sort table to show the top five spenders.

top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                3.412000               5                 17.06
Saedue76                   3.390000               4                 13.56
Mindimnya67                3.185000               4                 12.74
Haellysu29                 4.243333               3                 12.73
Eoda93                     3.860000               3                 11.58

In [41]:
# Total items purchases analysis.

items_purchase_count_df = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Convert to DataFrame

items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                   "Item Price":items_average_price_df,
                                   "Total Purchase Value":items_value_total_df,})

items_purchased_df.head()

                            Item Price  Purchase Count  Total Purchase Value
Item ID Item Name
0       Splinter                  1.82               1                  1.82
1       Crucifer                  2.28               4                  9.12
2       Verdict                   3.40               1                  3.40
3       Phantomlight              1.79               1                  1.79
4       Bloodlord's Fetish        2.28               1                  2.28

In [42]:

# Sort table to show the five the most popular items.

most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41